.edit-task-full-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
}

.edit-task-title{
    display: flex;
    width: 73%;
    margin-bottom: 3%;
}

.edit-task-form {
    display: flex;
    background-color: white;
    justify-content:space-evenly;
    flex-direction: column;
    height: 45%;
    width: 70%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.form-component {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    font-weight: 500;
    letter-spacing: 1px;
}

.edit-title-input {
    border-radius: 7px;
    border: solid 1px rgb(180, 180, 180);
    margin-top: 0.7%;
    padding: 1.5%;
}

.edit-content-input {
    border-radius: 7px;
    border: solid 1px rgb(180, 180, 180);
    margin-top: 0.7%;
    padding-left: 1.5%;
    padding-top: 1.5%;
}

.edit-deadline-input {
    border-radius: 7px;
    border: solid 1px rgb(180, 180, 180);
    margin-top: 0.7%;
    padding: 1%;
    cursor:text;
}

.edit-task-button {
    background-color: #4261FF;
    border-radius: 7px;
    border: none;
    color: white;
    padding: 0.7%;
    margin-top: 1.5%;
    cursor: pointer;
    width: 15%;
    font-size: medium;
    letter-spacing: 1px;
}

/*Media queries for button*/
@media (max-width: 1000px) {
    .edit-task-button {
        width: 20%;
        padding: 1.5%;
    }
}

@media (max-width: 800px) {
    .edit-task-button {
        width: 25%;
        padding: 2%;
    }
}

@media (max-width: 600px) {
    .edit-task-button {
        width: 30%;
        padding: 2.5%;
    }
}

@media (max-width: 450px) {
    .edit-task-button {
        width: 40%;
        padding: 3%;
    }
}

@media (max-height: 650px) {
    .edit-task-form {
        height: 60%;
        padding: 2.5%;
    }
}

@media (max-width: 1000px) {
    .edit-task-form {
        padding: 3%;
    }
}

@media (max-width: 600px) {
    .edit-task-form {
        padding: 5%;
    }
}

.back-to-all-tasks-container {
    display: flex;
    justify-content: flex-start;
    width: 78%;
    margin-bottom: 3%;
}

.back-to-all-tasks-link {
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: large;
    letter-spacing: 1px;
    margin-top: 1%;
    margin-left: 1%;
    cursor: pointer;
}

.back-to-all-tasks-link:hover {
    color: #4261FF;
}