.about-app-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.homepage-login{
    text-decoration: none;
    background-color: #4261FF;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 7px;
}

.homepage-login:hover{
    cursor: pointer;
    background-color: #158723;
}

.homepage-login-logged {
    display: none;
}

.title-description-container {
    text-align: center;
    margin-bottom: 2%;
}

