.get-all-container {
    margin-top: 20%;   
}

.get-all-table {
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content: center;
    margin-top: 1%;
    margin-left: 0.1%;
}
  
.tasks {
    width: 70%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: rgb(255, 239, 241);
}
th {
    color:rgb(21, 51, 41);
    background-color: white;
} 
  
td {
    display: table-cell;
    text-align: center;
    border: 1px solid pink;
    vertical-align: middle;
    color: rgb(21, 51, 41);
}

.get-all-buttons {
    background-color: rgb(187, 236, 220);
    border: solid 1px rgb(21, 51, 41);
}