.get-all-table {
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content: center;
    margin-top: 1%;
    margin-left: 0.1%;
}
  
.tasks {
    width: 70%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: rgb(255, 239, 241);
}
th {
    color:rgb(21, 51, 41);
    background-color: rgb(221, 232, 139);
    border: solid 1px rgb(21, 51, 41);
    background-color: rgb(182, 239, 251);
} 
  
td {
    display: table-cell;
    text-align: center;
    border: 1px solid pink;
    vertical-align: middle;
    color: rgb(21, 51, 41);
}

tr:hover {
    /* background-color: rgb(182, 239, 251); */
    background-image: linear-gradient(to right, rgb(168, 234, 250), rgb(182, 239, 251));
}

.get-all-buttons {
    background-image: linear-gradient(to right, rgb(102, 194, 217), rgb(182, 239, 251));
    border: solid 1px rgb(21, 51, 41);
    height: 100%;
    width:max-content;
}

.buttons-container {
    display: flex;
    justify-content: row;
    margin-top: 20%;
}

.create-task-button {
    background-color: #4261FF;
}
.create-task-link {
    text-decoration: none;
    color: white;
}