.navbar {
    display: flex;
    text-decoration: none;
    color: rgb(246, 246, 246);
    background-color: #158723;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    align-self: flex-end;
    justify-content: space-between;
    z-index: 1; 
}

.logout-link:hover {
    color: #d4d6e2;

}
.user-email {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    top: 0;
    left: 0;
    margin-left: 2%;
    margin-bottom: 0;
}

/*Logout link*/
.logout-link {
    display: flex;
    text-decoration: none;
    color: rgb(246, 246, 246);
    margin-right: 2%;
    top: 0;
    right: 0;
    align-self: self-end;
    font-size: 2rem;
}

.user-icon {
   padding-right: 5%;
}

/*Media queries for font size*/
@media (max-width: 768px) {
    .navbar {
        font-size: 1.2rem;
    }
    .logout-link {
        font-size: 1.5rem;
    }
    .user-email {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .navbar {
        font-size: 1rem;
    }
    .logout-link {
        font-size: 1.2rem;
    }
    .user-email {
        font-size: 1rem;
    }
}

@media (max-width: 450px) {
    .navbar {
        font-size: 0.8rem;
    }
    .logout-link {
        font-size: 1rem;
    }
    .user-email {
        font-size: 0.8rem;
    }
}
