.navbar {
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
    color: rgb(246, 246, 246);
    background-color: #158722;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.menu {
    display: flex;
    align-items: center;
    width: 97%;
    justify-content: space-between;
    font-size: 1.5rem;
    box-sizing: border-box;
}


/*Logout link*/
.app-dark .logout-link {
    display: flex;
    text-decoration: none;
    color: rgb(241, 240, 240);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.771);
    padding: 3%;
}

.app-light .logout-link {
    display: flex;
    text-decoration: none;
    color: rgb(35 39 47);
    padding: 3%;
}

.logout-link:hover {
    background-color: rgba(215, 215, 215, 0.417);
}
.app-dark .logout-link:hover {
    background-color: rgba(79, 81, 86, 0.443);
}

/*About link*/
.app-dark .about-link {
    display: flex;
    text-decoration: none;
    color: rgb(241, 240, 240);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.771);
    padding: 3%;
}

.app-light .about-link {
    display: flex;
    text-decoration: none;
    color: rgb(35 39 47);
    padding: 3%;
}

.about-link:hover {
    background-color: rgba(215, 215, 215, 0.417);
}
.app-dark .about-link:hover {
    background-color: rgba(79, 81, 86, 0.443);
}

/*User email and icon*/
.dropdown-username {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    align-self:flex-end;
    border-bottom: 0.5px solid rgb(246, 246, 246);   
}

.app-light .dropdown-username {
    border-bottom: 1px solid rgb(35 39 47);
}

.user-icon {
    margin-right: 4%;
}

.user-email {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 3%;
    margin-bottom: 1%;
}


.app-name-div {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color:  rgb(241, 240, 240);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.771);
}

.app-name-link {
    margin:0;
    margin-bottom: 1%;
    text-decoration: none;
    color: rgb(241, 240, 240);
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app-dark .app-name-link:hover {
    color: #7b8efa;
}

.app-light .app-name-link:hover {
    color: rgb(19, 8, 91);
    text-shadow: none;
}

.slogan {
    margin:0;
}

.menu-div-3 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

/*Dark and light theme buttons*/
.theme-button-light, .theme-button-dark {
    display: flex;
    border: none;
    padding: 3%;  
}

.theme-button-light {
    background-color: none;
    font-size:1.5rem;
    padding: 3%;
    color: rgb(35 39 47);
    width: 100%;
}

.theme-button-dark {
    background-color: rgb(35 39 47);
    color: rgb(241, 240, 240);
    padding: 3%;
    font-size: 1.5rem;
    width: 100%;
}

.theme-button-dark:hover {
    cursor: pointer;
    background-color: rgba(79, 81, 86, 0.443);
}

.theme-button-light:hover {
    cursor: pointer;
    background-color: rgba(215, 215, 215, 0.417);
}

#menu-button {
    background-color: rgb(35 39 47);
    color: rgb(241, 240, 240);
    border-radius: 50px;
    border: none;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    float: right;
    cursor: pointer;
}

.menu-icon {
    font-size: 2rem; 
}

.app-light #menu-button {
    background-color: rgb(241, 240, 240);
    color: rgb(35 39 47);
    border: 1px solid rgba(38, 37, 37, 0.478);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.771);
    /* background-color: #07370d;
    color: rgb(241, 240, 240); */
}

.app-dark #menu-button {
    border: 1px solid rgb(62, 62, 62);
    /* background-color: #158723;
    color: rgb(35 39 47); */
}

.app-light #menu-button:hover {
    background-color: rgb(215, 215, 215);
}

.app-dark #menu-button:hover {
    background-color: rgb(62, 62, 67);
}

.dropdown-items {
    display: none;
    position: absolute; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.771);
    z-index: 1;
    border-radius: 5px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    top: 83%;
    right: 1%;
}

.app-dark .dropdown-items {
    background-color: rgb(35 39 47);
    color: rgb(241, 240, 240);
    box-shadow: 0 0 1.5px rgba(255, 255, 255, 0.771);
}

.app-light .dropdown-items {
    background-color: rgb(241, 240, 240);
    color: rgb(35 39 47);
}


.show-menu {
    display: block;
}

.theme-label {
    display: flex;
    flex-direction: row;
}

.symbol-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.logo-icon {
    font-size: 2rem;
    padding-right: 1%;
}

/*Media queries for font size*/
@media (max-width: 1100px) {
    .menu {
        font-size: 1.2rem;
    }
} 

@media (max-width: 800px) {
    .menu {
        font-size: 1rem;
    }
    .theme-button-dark,
    .theme-button-light {
        font-size: small;
    }
}

@media (max-width: 550px) {
    .menu {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    .menu {
        font-size: 0.6rem;
    }
    .theme-button-dark,
    .theme-button-light {
        font-size: smaller;
    }
}
